<div class="container">
  <h1>商品一覧</h1>

  <%= form_with(url: items_path, method: :get, class: 'sort') do |f| %>
    <%= f.label '並び替え' %>
    <% if @sort_by.present? %>
      <%= f.select :sort_by, @sort_items, { selected: @sort_by }, onChange: "javascript: this.form.submit();"  %>
    <% else %>
      <%= f.select :sort_by, @sort_items, {}, onChange: "javascript: this.form.submit();"  %>
    <% end %>
  <% end %>

  <div class="list-group">
  <%= render partial: 'products/product_list_item', collection: @items, as: 'item' %>
  </div>
</div>
