<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<ul style="list-style: none">
  <% @items.each do |item| %>
    <li>
      <%= link_to  item_path(item) do %>
        <%= item.id %>,
        <%= item.name %>,
        <%= item.description %>,
        <%= item.maker.name %>,
        レビュー数: <%= item.review.length %>,
        評価: <%= total_score_formatted(item.review) %>
      <% end %>
    </li>
  <% end %>
</ul>
