<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<h1>
  <%= @item[:name] %>
</h1>
<% @item.each do |key, value| %>
  <%= key %>: 
  <%= value %>
  <br>
<% end %>

<%= image_tag(@item[:image_path]) %>

<h2>同じメーカーの商品</h2>
<ul>
  <% @other_products.each do |product| %>
    <li>
      <%= product.name %>
    </li>
  <% end %>
</ul>

<%= link_to 'レビューを見る', reviews_path %>
