<div class="container item-show">
  <h1><%= @item.name %></h1>
  <div class="h3 product_id">商品ID: <%= @item.id %></div>

  <%= image_tag(@item.image_path, size: '640x360', class:'product_image') %>


  <div class="h2 price">価格: <%= @item.price %></div>
  <div class="h3 category">カテゴリ: <%= @item.product_category.name %></div>
  <div>
    <%= @item.description %>
  </div>

  <h2><%= @item.maker.name %></h2>
  <div>
    <%= @item.maker.description %>
  </div>

  <h2>レビュー</h2>
  <div>レビュー数: <%= @item.review.length %></div>
  <div>評価: <%= total_score_formatted(@item.review) %></div>
  <%= link_to 'レビューを見る', reviews_path %>

  <h3><%= @item.maker.name %>の商品</h3>
  <div>
    <%= render partial: 'products/product_list_item', collection: @other_products, as: 'item' %>
  </div>
</div>
