<h1>Reviews#index</h1>
<p>Find me in app/views/reviews/index.html.erb</p>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.comment %>,
      <%= review.reviewer_name %>,
      rate: <%= average_score_formatted(review) %>
    </li>
    <ul>
      <% review.review_tags.each do |tag| %>
        <li>
          <%= tag.label %>
        </li>
      <% end %>
    </ul>
  <% end %>
</ul>

<%= form_with(model: @new_review, local: true ) do |f| %>
  <%= f.label :comment, 'コメント' %>
  <%= f.text_area :comment %>

  <%= f.label :reviewer_name, '名前' %>
  <%= f.text_field :reviewer_name %>

  <%= f.label 'タグ' %>
  <div>
    <% @review_tags.each do |tag| %>
      <%= f.check_box tag.name %>
      <%= f.label tag.name, tag.label %>
    <% end %>
  </div>

  <%= f.label :price_score, '価格評価' %>
  <%= f.number_field :price_score %>

  <%= f.label :design_score, 'デザイン評価' %>
  <%= f.number_field :design_score %>

  <%= f.label :quality_score, '品質評価' %>
  <%= f.number_field :quality_score %>

  <%= f.submit 'Post Review' %>
<% end %>
